.row{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.posts{
    display: flex;             /* Aligns children in a row */
  overflow-x: auto;          /* Enables horizontal scrolling */
  overflow-y: hidden;        /* Hides vertical overflow */
  width: 80%;               /* Restricts width to container boundary */
  gap: 16px;                 /* Space between cards */
  padding: 10px;
}

.row-heading{
    font-size: xx-large;
    color: white;
    font-weight: bold;
    margin: 50px 50px;
}

.posts::-webkit-scrollbar{
    display: none;
}
.movies{
  /* flex: 0 0 250px;           Crucial: Prevents cards from shrinking. Sets fixed width. */
  max-height: 250px;
  height: auto;
  background-color: #3498db;
}

.actionMovies{
  max-height: 150px;
  height: auto;
  background-color: #3498db;
}

.yt-container {
  position: relative;
  width: 100%;
  padding-bottom: 20%; /* 16:9 */
  height: 0;
}

.yt-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  /* height: 100% !important; */
}