.Banner-container {
  width: 100vw;
  height: 100vh;

  /* background-image: url("/netflix-banner.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
  position: relative;
}

.Banner-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.66) 0%,
    rgba(0, 0, 0, 0.7) 60%,
    rgba(0, 0, 0, 0.9) 100%
  );

  z-index: 1;
}

.content {
  position: relative;
  z-index: 1;
  font-size: large;

  padding-top: 250px;
  text-align: center;
}
.content h1 {
  color: white;
  font-size: 3rem;
  --wct--local-design--Text-TextFontWeight: 700;
  --wct--local-design--Text-TextLineHeight: 125%;
  --wct--local-design--Text-SpaceAroundVerticalEnd: 0.5rem;
}
.content h4 {
  color: white;
  font-size: 1.5rem;
  --wct--local-design--Text-TextFontWeight: 400;
  --wct--local-design--Text-TextLineHeight: 125%;
  --wct--local-design--Text-SpaceAroundVerticalEnd: 0.5rem;

  margin-top: 20px;
  margin-bottom: 35px;
}

.content p {
  margin-bottom: 20px;
}

.email-box {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.email-input {
  width: 350px;
  height: 56px;

  background: rgba(22, 22, 22, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.3);

  color: white;
  font-size: 16px;

  padding: 0 16px;
  border-radius: 4px;

  outline: none;
  backdrop-filter: blur(2px);
}

.email-input::placeholder {
  color: #b3b3b3;
}

.email-button {
  width: 250px;
  height: 56px;
  font-size: larger;
  border-radius: 5px;
  background-color: red;
  color: white;
  border: none;
  font-weight: bolder;
}

.email-button::after{
    content: "❯";
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.fade{
    background: linear-gradient(to top, rgba(20, 20, 20, 1) 0%, rgba(20, 20, 20, 0) 100%);
}

.top-movie{
  color: white;
  z-index: 2;
  margin-top: 5rem;
  margin-bottom: 4rem;
}